<%- include('./../partials/header.ejs') %> 
<% if (isLoggedIn) { %>

    <%- include('./../partials/BootNav_2.ejs') %>
  
  <% } else{ %>
  
    <%- include('./../partials/BootNav.ejs') %>
  
    <% } %>


<link rel="stylesheet" href="/css/bootstrap.css">
<style>

  body{
    margin-top: 40px;
  }
  .cartcontainer{
    margin: 0;
    padding: 50px;
    padding-top: 70px;
    display: grid;
    grid-template-columns: 2fr 4fr 1fr 1fr 1fr 1fr;
    word-wrap: none;
    grid-gap: 20px;

}

.cartcontainer h3{
    white-space: nowrap;
}

.cart-items{
    height: 0px;
    padding-bottom: 0px;

}
hr.new{

    background-color: black;
    height: 2px;
}
.cart{
    padding: 50px;
    display: grid;
    grid-template-columns: 2fr 4fr 1fr 1fr 1fr 1fr;
    word-wrap: none;
    grid-gap: 20px;
}

.cart > *{
    display: flex;
    align-items: center;
}
.item{
    display: flex;
    align-items: center;
}
.item #amount{
    color: black;
    font-size: large;
    padding-top: 20px;
    /* padding-left:  200px;
    padding-right: 80px; */

}
.item #imageProduct{
    /* padding-top: 0px; */
    margin: 0px;
    height: 7rem;
    width: 7rem;
}
/* .caption a{
    padding-top: 150px;
    height: 0px;
    width: 100%;
} */
.caption h2{
    /* padding-top: 100px; */
    display: inline-block;
    /* width: 400px; */
    height: auto;
    margin-left: 1rem;
}
#main{
    height:auto;
    width: auto; 
    display: grid;
    grid-template-columns: 120px 170px 170px 170px;
}
/*  */
.placeorder{
    height: 60px;
    width: 150px;
    padding: auto;
}
.placeorder a{
    font-size: large;
    font-weight: bold;
}
a{
    text-decoration: none;
}

 

 

 

 

 

/* ####################################### Sign Up ########################################## */

 

/* .s_body {

    background-color: silver;

    margin: auto;

}

 

table {

    margin: auto;

    border-spacing: 10px;

    border-collapse: separate;

}

 

div.container {

 

    background-color: rgb(255, 255, 255);

    font-size: 30px;

    text-align: center;

    border-radius: 20px;

   

 

    position: relative;

    top: 50px;

    left: 450px;

 

    width: 500px;

    height: auto;

}

 

 

div.form-position{

    font-size: 20px;

}

 

input{

    padding: 10px;

   

}

 

.div2{

    top: 100px;

}

 

.container input{

    position:relative;

    left: 100px;

}

 

.img_class{

    width: 80px;

    height: 80px;

    top: 100px;

}

 

button{

    padding: 10px 20px;

} */

 

 

/* ################################ Signup Navbar/ Other pages Navbar ##################################*/

 
/*####################################### Laptop Image ##################################################*/

 

.l_body {

    background-color: silver;

}

.product {

    border: 1px solid #ddd;

    /* border:0rem; */

    padding: 20px;

    text-align: center;

    display: inline-block;

    margin: 10px;

}

 

.product img {

    max-width: 100%;

    height: auto;

    margin-bottom: 10px;

}

 

.price {

    display: block;

    font-weight: bold;

    color: #333;

    margin-top: 10px;

}

 

button {

        /* background-color: #0080ff; */

    color: #fff;

    border: none;

    /* padding: 8px 16px; */

    cursor: pointer;

}

 

div.product img.img1 {

    height:500px;

    width:500px;

 

}

 

/* div.product ul.toppic {

    list-style: none;

    float: left;

 

} */

 

 

/* #################################### Phone Images #################################### */

 

.product1 {

    border: 1px solid #ddd;

    padding: 20px;

    text-align: center;

    display: inline-block;

    margin: 10px;

}

 

.product1 img {

    max-width: 100%;

    height: auto;

    margin-bottom: 10px;

}

 

.price {

    display: block;

    font-weight: bold;

    color: #333;

    margin-top: 10px;

}

 

button {

    background-color: #0080ff;

    color: #fff;

    border: none;

    /* padding: 8px 16px; */

    cursor: pointer;

}

 

div.product1 img.img2 {

    height:300px;

    width:210px;

 

}

 

/* div.product1 ul.toppic1 {

    list-style: none;

    float: left;

 

}  */

 

/* ######################################## TV Image ############################################ */

 

.product2 {

    border: 1px solid #ddd;

    padding: 20px;

    text-align: center;

    display: inline-block;

    margin: 10px;

}

 

.product2 img {

    max-width: 100%;

    height: auto;

}

 

div.product2 div.t_image img.img3 {

    display: block;

    align-items: center;

    width: 500px;

    margin-left: 450px;

    margin-right: 500px;

}

 

.price {

    display: block;

    font-weight: bold;

    color: #333;

    margin-top: 10px;

}

 

button {

    background-color: #0080ff;

    color: #fff;

    border: none;

    padding: 8px 16px;

    cursor: pointer;

}

 

div.product2 img.img3 {

    height:350px;

    width:400px;

 

}

 

/* div.product1 ul.toppic1 {

    list-style: none;

    float: left;

 

}  */

 

/* ############################################## Sell ################################################### */
.sellfunctionality{
    font-family: Arial, sans-serif;
    /* background-color:#D8BFD8; */
    display: grid;
    grid-template-columns:230px 1fr;
}
body.sell {
    font-family: Arial, sans-serif;

    margin: 0;

    padding: 0;

}
.selldiv img{
    height: 70%;
    width: 180%;
    display: grid;
    padding-top: 5px;
    padding-left: 5px;
    border-radius: 230px;
    
}
header{
    background-color: #FFF0F5;
}

header h2{
    padding-top: 30px;
    text-align: center;
}

 

main {
    max-width: 600px;
    margin: 0 auto;

    padding: 20px;
    display: grid;
}

 

.ad-form {
    background-color: white;
    padding: 20px;

    border: 1px solid #ddd;

    border-radius: 5px;
    /* margin-bottom: 20px; */
}
/* 
.ad-form h2 {

    margin-top: 0;
} */

  input {
    font-weight: bold;
    transition: border-color .5s ease-in-out,box-shadow .5s ease-in-out;
  }
  input:hover {

    border-color: lightblue; /* Change to the desired highlight color */

    box-shadow: 0 0 10px rgba(0,0,255,0.5); /* Adds a blue shadow effect */
  }
.ad-form label{
    font-weight:500;
    
}
input[type="text"],
input[type="number"],
textarea,
select {
  width: 100%;
  padding: 7px;
  margin-bottom: 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
}
input[type="url"],
select {
    width: 60%;
    padding: 5px;
}
/* 
.ad-form label,

.ad-form input,

.ad-form textarea {

    display: block;

    margin-bottom: 10px;
} */

.ad-listings ul {

    list-style: none;

    padding: 0;

}

 

.ad-listings li {

    background-color: #f9f9f9;

    padding: 10px;

    border: 1px solid #ddd;

    border-radius: 5px;

    margin-bottom: 10px;

}

 

.ad-listings h2 {

    margin-top: 0;
} 

  /* Style the submit button */
  button[type="submit"] {
    background-color: #4b0082;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    align-items: center;
  }
  
  /* Hover effect for the submit button */
  button[type="submit"]:hover {
    background:#D8BFD8;
  }

 /* ######################################## Orders ############################################ */

.ordersContainer{

    height: 100%;

    width: 100%;
}



/* ################################ CSS for SIGN IN PAGE ######################################################## */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

 

* {

    font-family: 'Roboto', sans-serif;

    font-family: 'Lato', sans-serif;

    font-family: 'Roboto', sans-serif;

}

 

 

.error-message

{

    color: red;

    padding: 5px;

    font-size:small;

}

.error-block

{

    color: red;

    padding: 5px;

    font-size:small;

}

 

.mb-3

{

    padding: 10px;

    margin-left: 5px;

    margin-right: 5px;

    margin-top: 5px;

    margin-bottom: 10px;

}

 

.signin-authContainer

{

    display: flex;

}

 

 

 

/*-------------------------------------------------------signin styles-----------------------------------------------*/

 

.authContainer

{

    display: flex;

}

.authImageContainer

{

    height: 100%;

}

 

form .authContainer

{

    box-sizing: border-box;

    border-radius: 1px;

}

.form-Border{

    box-sizing: border-box;

    border-radius: 1px;

}

 

/*----------------------------------------------- image sizing-------------------------------------------------- */

.authFormSection , .authImageSection {

    margin-top: 90px;

    width: 50vw;

    padding: 10px;

    height: 75vh;

}

 

/* -----------------------------------border of signing---------------------------------------------------------- */

.authFormSection

{

    border-style:ridge;

    border-radius: 1.3px;

    width:30%;

    margin-top: 150px;

    border: 0.3px solid #cccccc;

    height: 200px;

}

 

/* -----------------------------------border of signing---------------------------------------------------------- */

.authContainer .authFormSection

{

    box-sizing: border-box;

    border-radius: 12px;

    height: 55vh;

   

}

 

/*-------------------------------------------text areafiled ---------------------------------------------------*/

.form-label {

    margin-bottom: 0.5rem;

    font-size: large;

}

label {

    display: inline-block;

    font-size: large;

}

 

.form-control {

    display: block;

    width: 90% !important;

    margin-left: 10px !important;

    padding: 0.375rem 0.75rem;

    font-size: 1rem;

    font-weight: 400;

    line-height: 1.5;

    color: var(--bs-body-#c0c0c0);

    -webkit-appearance: none;

    -moz-appearance: none;

    appearance: none;

    background-clip: padding-box;

    border: 1px solid #ccc; /* Set border color */

    border-radius: 10px;

    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

    outline: none; /* Remove the default focus outline */

}

 

.form-control:hover {

    border-color: lightblue; /* Change to the desired highlight color */

    box-shadow: 0 0 10px rgba(0,0,255,0.5); /* Adds a blue shadow effect */

}

 

.form-control:focus {

    border-color: #ccc; /* Set border color on focus */

}

 

/*---------------------------------------------------------------------------------------------------------------*/

:placeholder-shown

{

    font-size:medium;

    text-align: center;

}

 

/*----------------------------------------------------------------------------------------------------------------*/

 

.authFormSection label {

    display: block;

    margin-bottom: 5px;

}

 

 

.authFormSection input{

    width: 100%;

}

 

.authFormFieldSection{

    margin-bottom: 10px;

}

 

.authFormSubmitButtonSection{

    margin-top: 1.5rem;

    text-align: center;

}

 

.authFormSubmitButtonSection > button{

    width: 100%;

}

 

.signupSigninMessage{

    text-align: center;

    margin-top: 1rem;

}

 

.btn.btn-primary {

    width: 30%;

}

 

 

 
</style>

<body>
  <div class="root-cart-container">
  <div class="cartcontainer">
      <div class="cart-items" id="cart-item1"><h5>Sr.no</h5></div>
      <div class="cart-items" id="cart-item1"><h5>Product details</h5></div>
      <div class="cart-items" id="cart-item2"><h5>Quantity</h5></div>
      <div class="cart-items" id="cart-item3"><h5>Item Price</h5></div>
      <div class="cart-items" id="cart-item4"><h5>Total Price</h5></div>
      <div></div>
  </div>
    <hr class="new">
    <% let orderNumber = 1; %>
    <% for (let i = 0; i < productsArray.length; i++) { %>

      <div class="cart">
        <span id="amount"><%= orderNumber %></span>
        <div class="item">
          <img  id="imageProduct" src="<%= productsArray[i].img_url %>" alt="<%= productsArray[i].product_name %> Image">
          <span class="caption">
           <h2>
            <a href="./../viewProduct?p_id=<%= productsArray[i]._id %>">
              <%=productsArray[i].product_name%>
            </a>
          </h2>  
          </span>
        </div>
      
        <span id="quantity-input">
          <% const cartProduct = cartObj.find(item => item.product_id === productsArray[i]._id.toString()); %>
          <%= cartProduct ? cartProduct.quantity : 0 %>
        </span>
        <span id="amount2">₹ <%= productsArray[i].price %></span> 
        <span class="totalPrice">₹ 
          <% const totalPrice = (productsArray[i].price * (cartProduct ? cartProduct.quantity : 0)); %>
          <%= totalPrice %>
        </span>
        
        <a href="/deleteCartProduct?p_id=<%= productsArray[i]._id %>" class="deleteIcon" data-product-id="">
          <i class="fa-solid fa-trash" > </i>
          </a>
       </div> 
      <% orderNumber++; %>
    <% } %>
  
  </div>
  <center>
   <button ><a style="color: white; text-decoration: none;"  href="/postOrder" class="place-order-button">
      Place Order

    </a></button>

  </center>

  <br><br><br><br><br><br>
<%- include('./../partials/footer.ejs') %>

 